{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="EVERYMAP OF PNU">
    <meta property="og:description" content="부산대학교 강의평가와 캠퍼스맵 - Likelion8th">
    <meta property="og:image" content="{% static 'image/pnumap.jfif' %}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="Stylesheet" type="text/css" href="{% static 'css/base.css' %}?dt={% now 'Ymd' %}">

    {% block extra_head %}{% endblock %}
  
</head>


<body>  
    <nav>
        <div class="gnb_container">

            <div class="small_menu_btn" onclick="sidetoggle()">
                <span class="small_menu_btn_line small_menu_btn_line_01"></span>
                <span class="small_menu_btn_line small_menu_btn_line_02"></span>
                <span class="small_menu_btn_line small_menu_btn_line_03"></span>
            </div>
    
            <img class="logo" src="{% static 'image/logo.jpg' %}">
        </div>
    </nav>
    <section class="small_menu_section">
        <div class="small_menu_list_container">
            <form class="gnb_q_form" method = "get">
                <input id="gnb_q" type="search" name="q">
                <label for ="gnb_q" >
                    <img class="search_icon" src="{% static 'image/돋보기.png' %}" alt="검색">
                </label>
            </form>
            <div class="gnb_q_result">
                검색 결과가 없습니다.
            </div>
            <!-- <div class="small_menu_list">검색</div> -->
            
            <!-- <div class="small_menu_list">내브에는</div> -->
            <!-- <div class="small_menu_list">뭘넣을까유</div> -->
        </div>
    </section>
    <section id="base_container">
    {% block content %}
    {% endblock %}    
    </section>
    <footer>
        <div class="footer_list_container">
            <img class="footer_likelion" src="{% static 'image/likelion.png' %}">
            <div class="footer_list">2020 ⓒ PNU LIKELION 8th, All rights reserved</div>
            <div class="footer_list">LIKELION 모집기간 : 2020.3월 중</div>
            <div class="footer_list">지원 문의 : gt0305@likelion.org </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/nav.js' %}?dt={% now 'Ymd' %}"></script>
</body>
</html>

