{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="EVERYMAP OF PNU">
    <meta property="og:description" content="부산대학교 강의평가와 캠퍼스맵 - Likelion8th">
    <meta property="og:image" content="{% static 'image/pnumap.jfif' %}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="Stylesheet" type="text/css" href="{% static 'css/base.css' %}?dt={% now 'Ymd' %}">

    {% block extra_head %}{% endblock %}
  
</head>


<body>  
    <nav>
        <div class="gnb_container">

            <div class="small_menu_btn" onclick="sidetoggle()">
                <span class="small_menu_btn_line small_menu_btn_line_01"></span>
                <span class="small_menu_btn_line small_menu_btn_line_02"></span>
                <span class="small_menu_btn_line small_menu_btn_line_03"></span>
            </div>
    
            <img class="logo" src="{% static 'image/logo.jpg' %}">
        </div>
    </nav>
    <section class="small_menu_section">
        <div class="small_menu_list_container">
            <div class="search_cate">
              
                <input class= "search_type" id="search_place" type="radio" name="search_type">
                <div class="display_cate">
                    📌
                </div>
                <label class="search_place_label" for="search_place">
                    강의실 찾기
                </label>
            </div>
            
            <div class="search_cate">
               

                <input class="search_type" id ="search_course"type="radio" name="search_type">
                <div class="display_cate">
                    📌
                </div>
                <label class="search_course_label" for="search_course">
                    강의 찾기
                </label>

            </div>
            <div class="building_form">
                <div class="gnb_q_form " method="get">
                    <input id="gnb_q_building" type="search" name="q" placeholder="건물번호 검색!">
                    <img id="gnb_q_building_icon" class="search_icon" src="{% static 'image/돋보기.png' %}" alt="검색">
                </div>
            </div>

            
            <div class="course_form">

                <div class="gnb_q_form" method="get">
                    <input id="gnb_q_course" type="search" name="q" placeholder="강의명 검색!">
                    <img id="gnb_q_course_icon" class="search_icon" src="{% static 'image/돋보기.png' %}" alt="검색">
                </div>
            </div>

            <!-- <div class="gnb_q_result">
                전체 보기
            </div> -->

            <form method="POST">
                {%csrf_token%}
                {{blogform}}
                <input type="submit" value="글쓰기">
            </form>

            {%for i in buildings%}
                {{i.title}}<br>
                {{i.body}}<br>
                <a href = "{%url 'update' i.id %}">수정</a>
                <a href = "{%url 'delete' i.id %}">삭제</a>
            <hr>
            {%endfor%}
            <!-- <div class="small_menu_list">검색</div> -->
            
            <!-- <div class="small_menu_list">내브에는</div> -->
            <!-- <div class="small_menu_list">뭘넣을까유</div> -->
            <!-- <div class="score_container">
                <div class="score_up">👍</div>
                <div class="score_down">👎</div>
                <div class="score_reason">

                </div>
            </div> -->
        </div>
    </section>
    <div id="base_container_wrapper">

   
        <section id="base_container">
            {% block content %}

            {% endblock %}    
        </section>
    </div>

    <footer>
        <div class="footer_list_container">
            <img class="footer_likelion" src="{% static 'image/likelion.png' %}">
            <div class="footer_list">2020 ⓒ PNU LIKELION 8th, All rights reserved</div>
            <div class="footer_list">LIKELION 모집기간 : 2020.3월 중</div>
            <div class="footer_list">지원 문의 : gt0305@likelion.org </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/nav.js' %}?dt={% now 'Ymd' %}"></script>
</body>
</html>

