{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="EVERYMAP OF PNU">
    <meta property="og:description" content="부산대학교 강의평가와 캠퍼스맵 - Likelion8th">
    <meta property="og:image" content="{% static 'image/pnumap.jfif' %}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="Stylesheet" type="text/css" href="{% static 'css/base.css' %}?dt={% now 'Ymd' %}">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />

    {% block extra_head %}{% endblock %}
  
</head>


<body>  
    <nav>
        <div class="gnb_container">

            <div class="small_menu_btn" onclick="sidetoggle()">
                <span class="small_menu_btn_line small_menu_btn_line_01"></span>
                <span class="small_menu_btn_line small_menu_btn_line_02"></span>
                <span class="small_menu_btn_line small_menu_btn_line_03"></span>
            </div>
    
            <img class="logo" src="{% static 'image/logo.jpg' %}">
        </div>
    </nav>
    <section class="small_menu_section">
        <div class="small_menu_list_container">

            <label>
                <input type="radio" id="search_place" class="nes-radio"  name="search_type"  />
                <span class="search_place_label" >강의실 찾기</span>
            </label>
            
            <label>
                <input type="radio" id ="search_course" class="nes-radio" name="search_type" />
                <span class="search_course_label">강의 찾기</span>
            </label>

            <div class="building_form">

                <div class="nes-field makerelative">
                    <input class="nes-input" id="gnb_q_building" type="search" name="q" placeholder="건물번호/이름 검색!">
                    <img id="gnb_q_building_icon" class="search_icon" src="{% static 'image/돋보기.png' %}" alt="검색">
                </div>
            </div>

            
            <div class="course_form">

                <div class="nes-field makerelative">
                    <input  class="nes-input" id="gnb_q_course" type="search" name="q" placeholder="강의명 검색!">
                    <img id="gnb_q_course_icon" class="search_icon" src="{% static 'image/돋보기.png' %}" alt="검색">
                </div>
            </div>

            <!-- <div class="gnb_q_result">
                전체 보기
            </div> -->
<!-- 
            <form method="POST">

                {%csrf_token%}
                    {%for i in blogform%}
                        {{i}}
                    {%endfor%}
                <input class="for_maker_btn" type="submit" value="글쓰기">
                <div class="clear"></div>
            </form>

           
            {%for i in buildings%}
            <div class="footprint_row">
                닉네임 : {{i.title}}<br>
                내용 : {{i.body}}<br>
                <a class="for_maker_update" href = "{%url 'update' i.id %}">수정</a>
                <a class="for_maker_delete" href = "{%url 'delete' i.id %}">삭제</a>
            </div>
               
            {%endfor%} -->
           
        </div>
    </section>
    <section class="speaker_container">
        <div class="speaker">
            <img src="{% static 'image/speaker_icon.png' %}">
            <marquee scrollamount="8" class="speaker_content">안녕하세요 저는 확성기★★★★★★★★★★</marquee>
            <div class="tri"></div>
        </div>
        <div class="speaker_hidden_section"></div>
    </section>

        {% block sub_content %}
        {% endblock %}
    <div id="base_container_wrapper">
        
        <section id="base_container">
            
            {% block content %}

            {% endblock %}    
        </section>
    </div>

    <footer>
        <div class="footer_list_container">
            <img class="footer_likelion" src="{% static 'image/likelion.png' %}">
            <div class="footer_list">2020 ⓒ PNU LIKELION 8th, All rights reserved</div>
            <div class="footer_list">LIKELION 모집기간 : 2020.3월 중</div>
            <div class="footer_list">지원 문의 : gt0305@likelion.org </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/nav.js' %}?dt={% now 'Ymd' %}"></script>
    <script type="text/javascript" src="{% static 'js/speaker.js' %}?dt={% now 'Ymd' %}"></script>

</body>
</html>

