@charset "utf-8";

/* 초기화 */
html,body{
    margin:0;
    padding:0;
}

/* 링크 데코레이션 none */
a { text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; } 

/* font */
@font-face{
    font-family: 'nanumsquare_R';
    src: url('../font/NANUMSQUARER.TTF');
}

* { 
    font-family: 'nanumsquare_R';
}
.logo{
    width:100px;
    position: absolute;
    top: 10px;
    margin: 0 auto;
    left:50%; transform:translateX(-50%);
}
nav{
    position: sticky;
    z-index: 100;
    top:10px;
    width: 96vw;
    margin: 10px 2vw;
    height: 60px;
    /* margin: 10px auto; */
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    background: #FED047;
}
.gnb_container{
    width:100%;
    height:100%;
    position: relative;
}
    .small_menu_btn {
        position: absolute;
        top: 17px;
        z-index: 101;
        width: 35px;
        cursor: pointer;
        background: none;
        margin-left: 30px;
        height: 100%;
    } 
    .small_menu_btn_line {
        display: block;
        width: 100%;
        height: 3.5px;
        background: #ad3100;
        margin-top:4px;
        margin-bottom:4px;
                z-index: 101;

    }
    
    .small_menu_btn_line_01,.small_menu_btn_line_02{
        margin-bottom: 8px;
        margin-top: 0;
    }
    
    .small_menu_btn_line_01_active{
        background: #ad3100;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
        animation-name: change_line1;
        animation-direction : alternate;
        animation-fill-mode : forwards;
        }
    .small_menu_btn_line_02_active{
            
        background: #ad3100;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
        animation-name: change_line2;
        animation-direction : alternate;
        animation-fill-mode : forwards;
        }
    .small_menu_btn_line_03_active{
        background: #ad3100;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
        animation-name: change_line3;
        animation-direction : alternate;
        animation-fill-mode : forwards;
        }
        @keyframes change_line1 {
            from{
                transform: matrix(1, 0, 0, 1, 0, 0);
            }
            to{
                transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 7);
            }
        } 
        @keyframes change_line2 {
            from{
                visibility: inherit;
                opacity: 1;   
            }
            to{
                visibility: hidden;
                opacity: 0;
            }
        } 
        @keyframes change_line3 {
            from{
                transform: matrix(1, 0, 0, 1, 0, 0);
            }
            to{
                transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -7);
            }
        } 
        

    .small_menu_section{
        display : none;
        text-decoration: none;
        position: absolute;
        width : 25vw;
        left:0;
        top:0;
        text-align: center;
        height: 100%;
        background: white;
        transform: matrix(1, 0, 0, 1, -400, 0);
        z-index: 100;
        overflow: hidden;
        /* border:1px solid red; */
    }
    @media(max-width:849px){
        .small_menu_section{
            width:50vw;
        }
    }

    .small_menu_section_active{
        margin-top: 70px;
        margin-left: 2vw;
        height: 900px;
        background:#FED047;
        display:inline-block;
        animation-iteration-count: 1;
        animation-duration: 0.2s;
        animation-name: nav_toggle;
        animation-direction : alternate;
        animation-fill-mode : forwards;
        }
        @keyframes nav_toggle {
            from{
                opacity: 0;
                transform: matrix(1, 0, 0, 1, -400, 0);
            }
            to{   
                opacity: 1;
                transform: matrix(1, 0, 0, 1, 0, 0);
                position: fixed;
            }
        } 
    
    .small_menu_list_container{
        /* border: 1px solid gr een; */
        width: 100%;
        height: 100%;
        padding-top: 10vh;
        /* padding: 9%; */

    }
    .small_menu_list{
        border: 1px solid blue;
        margin: 10px;
    }    
            
   
#base_container{
    width: 849px;
    height: 798px;
    position: relative;
    margin: 0 auto;
}

/* .gnb_logo{
    position: absolute;
    left:85px;
    top:15px;
    font-size:1.3rem;

    font-weight: 800;
    z-index: 101;
} */
.gnb_q_form{
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    margin-bottom: 30px;
}

#gnb_q{
    border:none;
    background: none;
    outline: none;
    box-sizing: border-box;
    border-bottom:1.5px solid #ad3100;
    height: 100%;
    width:60%;
}
.gnb_q_form .search_icon {
    height:20px;
}
@media(max-width: 849px){
    #base_container{
        width: 100vw;
        overflow: scroll;
    }
}


footer{
    width:100%;
    height: 150px;
    background:#642340;
    position: relative;
    z-index: 100;
}

.footer_list_container{
    width:100%;
    height:100%;
    color: white;
}